// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: rgb(34, 34, 34);

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-image {

  background-color: $background-color;
  padding: 0px 0px 0px 0px !important;
}

.image-label {
  font-size: 3vw;
  color:rgb(170, 170, 170) !important;
  position: absolute;
  bottom: 32px;
  text-align:center;
  left: 0;
  right: 0;
}
