<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="quickquote_gui_test_data" data-view ="Tests" data-title="Gui Tests" ></div>
    </li>
  </ul>
  <center><div style="font-size: 12px">Tests Dashboard</div></center>
</div>